<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <link rel="stylesheet" th:href="@{/css/signin.css}">
</head>
<body>
    <div class="box">
        <h2>Signin</h2>

        <div id="errorMessage" class="error-message" >
            Email ou senha inválidos
        </div>

        <form>
            <input type="email" class="email" placeholder="Email" required>

            <input type="password" class="password" placeholder="Senha" required>

            <button>Signin</button>

            <a class="bnt-link-cadastro" th:href="@{/register}">não tem conta? Faça o cadastro</a>
        </form>
    </div>

    <script th:src="@{/js/signin.js}"></script>
</body>
</html>