@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --cor-fundo: #d1cfcf;
    --cor-segundaria: #937038;
    --cor-primaria: #d4a574;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body {
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    position: relative;
}


header {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 10px 10px;
}

.header-logo {
    width: 50px;
    height: 50px;
}

.header-top-rigth {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.carrinho-mobile {
    display: none;
    width: 35px;
    height: 35px;
}

.carrinho-mobile:hover {
    transition: 0.3ms;
    transform: scale(1.15);
}

.menu-harburger {
    width: 50px;
    height: 50px;
    display: none;
}

.menu-harburger:hover {
    transition: 0.3ms;
    transform: scale(1.15);
}

.menu-harburger-remove {
    width: 50px;
    height: 50px;
    display: block;
    opacity: 0;
}


.header-top nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn-header {
    background-color: var(--cor-segundaria);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 5px 30px;
    font-weight: bolder;
}

.btn-header:hover {
    background-color: var(--cor-primaria);
    transition: 0.3s;
    border: none;
    color: var(--cor-segundaria);
}

.btn-section{
    color: var(--cor-segundaria);
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 30px;
    font-weight: bolder;
}

.btn-section:hover {
    background-color: var(--cor-segundaria);
    color: white;
    transition: 0.3s;
}


.carrinho-desktop {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.carrinho-desktop:hover {
    transition: 03ms;
    transform: scale(1.15);
}

.menu-rigth-container {
    display: none;
}

.menu-rigth-container-open {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 250px;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
    background-color: var(--cor-segundaria);
    border-bottom: solid 1px white;
    border-radius: 10px;
    z-index: 1000;
}

.menu-rigth {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.menu-rigth h2 {
    color: white;
    font-size: 1.9rem;
    text-align: center;
}


.menu-rigth a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 15px 30px;
    border: solid 1px white;
    border-bottom: none;
}

.border-top {
    border-radius: 10px 10px 0 0;
}

.border-bottom {
    border-radius: 0 0 10px 10px;
}

.header-image-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.img-header {
    width: 100%;
    max-height: 250px;
}

.header-text-container {
    min-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    width: 300px;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
}

.menu-link {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: var(--cor-segundaria);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
}

.menu-title {
    margin: 10px;
    color: var(--cor-segundaria);
    cursor: pointer;
    text-align: center;
    font-size: 1.9rem;
}

.menu-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-auto-rows: 400px;
    grid-gap: 25px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
    padding: 20px;
    max-width: 270px;
    width: 100%;
}

.menu-item:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.menu-container img {
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

.menu-item-footer {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}


.menu-item-footer h3 {
    margin-top: 15px;
    color: var(--cor-segundaria);
    text-align: center;
}


.menu-item-footer .btn-descricao {
    min-width: 100%;
    height: 40px;
    border: none;
    background-color: var(--cor-segundaria);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}

.menu-item-footer .btn-descricao:hover {
    background-color: #93703877;
    transition: 0.3s;
}

.btn-add-carrinho {
    min-width: 100%;
    height: 40px;
    border: none;
    background-color: var(--cor-fundo);
    color: var(--cor-segundaria);
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--cor-segundaria);
}

.btn-add-carrinho:hover {
    background-color: var(--cor-segundaria);
    color: white;
    transition: 0.3;
}

.about-container{
    max-width: auto;
    min-width: auto;
    margin: 30px 30px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid var(--cor-segundaria);
}


.about-container h2 {
    color: var(--cor-segundaria);
    font-size: 1.9rem;
}

.about-text p {
    color: #93703877;
    font-size: 1.1rem;
}

footer {
    background-color: var(--cor-segundaria);
    color: white;
    padding: 40px 20px;
    text-align: center;
    min-width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

#section-footer p {
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.social-icons img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    filter: invert(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.15);
    opacity: 0.8;
}

/* Responsive */

@media(max-width: 900px) {
    .header-top nav{
        display: none;
    }

    .header-top {
        gap: 350px;
        margin-top: 30px;
    }

    .carrinho-mobile {
        display: block;
    }

    .menu-harburger {
        display: block;
    }

    .menu-rigth-container-open {
        display: block;
        top: 20px;
        right: 20px;
    }

    .img-header {
        width: 100%;
        border-radius: 0;
    }

    main {
        width: 100%;
    }
}

 @media(max-width: 500px)
  {
    .header-top {
        gap: 150px;
        margin: 0px;
    }

    .menu-rigth-container-open {
        top: 10px;
        right: 10px;
    }

    .header-image-container {
        margin: 0px;
    }

    .menu-link {
        width: 200px;
    }

    .menu-title {
        margin: 10px;
    }
    .menu-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-gap: 10px;
        grid-auto-rows: 280px;
    }

    .menu-item {
        max-width: 150px;
        padding: 10px;
        gap: 5px;
    }

    .menu-item img {
        width: 110px;
        height: 110px;
        border-radius: 5px;
    }

    .menu-item-footer h3 {
        font-size: 0.8rem;
        margin: 0;
    }

    .menu-item-footer .btn-descricao  {
        width: 100px;
        height: 40px;
        font-size: 0.8rem;

    }

    .btn-add-carrinho {
        width: 100px;
        height: 40px;
        font-size: 0.8rem;
    }

    .header-text-container h1, p {
        font-size: 1.2rem;
    }

    .about-container {
        margin: 10px;
        padding: 10px;
    }
  }





